.container {
    margin: 15rem 0 3rem 0;
    @media (min-width: 42em) {
        margin: 45rem 0 3rem 0;
        padding: 0 6rem;
    }
    @media (min-width: 62em) {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0;
    }
    .logo_container {
        margin-left: 1.5rem;
        @media (min-width: 62em) {
            position: absolute;
            left: 9%;
            top: 5%;
        }
    }
    .hero_container {
        margin: 1rem 0;
        @media (min-width: 42em) {
            margin: 2rem 0;
        }
        @media (min-width: 62em) {
            margin: 0;
            width: 40%;
        }
    }
    .context_container {
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        @media (min-width: 62em) {
            width: 60%;
            margin-top: 4%;
            padding: 0 8.5rem;
        }
        h1 {
            font-family: inherit;
            font-size: 2.5rem;
            font-weight: 700;
            letter-spacing: 1rem;
            text-transform: uppercase;
            line-height: 3.5rem;
            .text-heading-highlight {
                color: $colorDesaturatedRed;
                font-weight: 300;
            }
            @media (min-width: 62em) {
                text-align: left;
                font-size: 3rem;
            }
            @media (min-width: 87em) {
                line-height: 4.5rem;
                font-size: 4rem;
            }
        }
        p {
            line-height: 1.8rem;
            margin-top: 1.2rem;
            font-size: 1rem;
            color: $colorDesaturatedRed;
            @media (min-width: 62em) {
                text-align: left;
                font-size: 1.2rem;
            }
            @media (min-width: 87em) {
                font-size: 1.6rem;
            }
        }
        form {
            position: relative;
            margin: 2rem 0;
            input {
                background-color: transparent;
                border: 1px solid hsl(0, 36%, 70%);
                border-radius: 3.1rem;
                font-size: 1rem;
                padding: 0.9rem 1.8rem;
                height: 3.4rem;
                width: 100%;
                @media (min-width: 87em) {
                    font-size: 1.2rem;
                }
            }
            button {
                background-image: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
                border: none;
                border-radius: 3.1rem;
                cursor: pointer;
                padding: 0.9rem;
                position: absolute;
                top: 0;
                right: 0;
                height: 3.4rem;
                width: 100px;
            }
        }
    }
}